<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <meta name="theme-color" content="#712cf9">

    <style>
        tr{
            height: 50px;
            font-size: 24px;
            text-align: center;
        }

        td {
            font-size: 20px;
            text-align: center;
        }
        .btn{
            font-size: 20px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb- mb-md-0" style="font-size: 25px">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                   th:href="@{/dutch}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">logout</a>
            </li>
        </ul>
    </div>
</nav>

<div style="height: 60px"></div>

<div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h2>더치페이 내역 조회</h2>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 150px;">날짜</th>
                <th>내역</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dutch : ${dutchResultList}">
<!--                <td style="width: 100px;" th:text="${#dates.format(dutch.getCreatedAt(), 'yyyy-MM-dd')}">2023-01-02</td>-->
                <td style="width: 100px;" th:text="${dutch.getCreatedAt()}">2023-01-02</td>
                <td th:utext="${dutch.getResult()}">총 인원 5명이고, 계산 금액은 50,000원 입니다.</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr class="my-4">

</div>
<div class="container d-flex justify-content-center">
    <button type="button" class="btn btn-outline-secondary btn-rounded"
            data-mdb-ripple-color="dark"
            onclick="location.href='dutchHome.html'"
            th:onclick="|location.href='@{/dutch}'|">돌아가기</button>
</div>


</body>
</html>